body, html {
	margin: 0 auto;
	background-color: #000;
	color:#fff;
	font-family: 'Raleway', sans-serif;
	padding: 0;
}

h1,h2,h3,h4,h5,h6 {	
	color: #fff;
}

header{	
	text-align: right;	
	margin: 0 auto;
	width: 50%;	
	-webkit-transition: all 0.5s ease;
    -moz-transition:all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

header.fixed{
	right:0;
	left:0;
	margin-right: auto;
	margin-left:auto;
	position: fixed;
	height: 5px;
	background-color: transparent;
	width: 100%;
}

h1 {
	font-size: 50px;
	font-weight: 600;

}

h2 {
	font-size: 42px;
	font-weight: 100;	
}

h3 {
	font-size: 36px;
	font-weight: 100;
}

h4 {
	font-size: 30px;
	font-weight: 100;	
}

h5 {
	font-size: 28px;
	font-weight: 100;	
}

h6 {
	font-size: 22px;
	font-weight: 100;	
}

nav {
	margin-top: 25px;
	background-color: #292929;
	text-decoration: none;
	height: 75px;
	-webkit-transition: all 0.5s ease;
    -moz-transition:all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;	
}

nav.fixed {	
	margin-top: 0px;
	background-color: #716c6b;
	text-decoration: none;
	height: 45px;	
}

nav.fixed ul {
	line-height: 45px;
}

.logo{
	float:left;
	text-align: center;	
	padding-left: 16px;
	font-size: 40px;
	-webkit-transition: all 0.5s ease;
    -moz-transition:all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.logo-fixed {
	font-size: 30px;
	line-height: 45px;!important
	height: auto;
}

.logo-fixed h1{
	font-size: 30px;
	line-height: 45px;
	height: auto;
}

p {	
	font-size: 16px;
	color: #fff;
	font-weight: 100;
	line-height: 25px;
}

section {	
	font-size: 16px;
	width: 30%;
	display: inline-block;
	padding: 16px;	
}

a {	
	color: #fec901;
	font-weight: 300;
	text-decoration: none;
	padding: 3px;
	-webkit-transition: all 0.5s ease;
    -moz-transition:all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    padding-right:16px;
}

a:hover{
	color:  #8da9a7;
	text-decoration: overline;	
}

.active{
	color:  #8da9a7;
	background-color: #fff;
	color: #000;
	padding-top: 13px;
	padding-bottom: 13px;

}

strong {
	color: #fec901;
}

em {
	font-family: 'Crimson Text', serif;
	font-size: 20px;	
}

mark {
	border: 2px solid #fff;
	background-color: #8DA9A7;
	padding: 2px;
	color:#000;
	font-weight: 400;
}

s {
	color: red;
}

ul {
	text-decoration: none;
	margin:0 auto;
	line-height: 75px;
}

li {
	color: #fff;
	font-weight: 100;
	display: inline-block;	
}

dt {	
	font-size: 20px;
	font-weight: 800;
}

dd {	
	font-size: 16px;
	font-weight: 600;
}

.button-principal{
	border: 0px;
	padding: 10px 30px;	
	font-size: 16px;
	font-weight: normal;
	cursor: pointer;
	background-color: #fec901;
	text-decoration: none;
	color:#000;	
    margin-right: 15px;
    line-height: 18px;
    -webkit-transition: all 0.5s ease;
    -moz-transition:all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;   
}

.button-principal:hover{
	border: 0px;	
	background-color: #fff;
	color:#000;	
}

.button-form{
	border: solid 2px #fff;
	padding: 10px 30px;	
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
	background-color: #8DA9A7;
	text-decoration: none;
	color:#000;	
    margin-right: 15px;
    line-height: 18px;
    -webkit-transition: all 0.5s ease;
    -moz-transition:all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;   
}

.button-form:hover{
	border: solid 2px #8DA9A7;	
	background-color: #fff;
	color:#000;	
}

input[type="text"]{
	display:block;
	border: 1px solid #fff;
	padding: 13px;
	margin-bottom: 25px;	
	background-color: #4E7773;	
	-webkit-transition: all 0.5s ease;
    -moz-transition:all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    color:#fff;
    width: 250px;
}

input[type="text"]:focus{	
	border: 1px solid #fec901;
	padding: 13px;	
	background-color: #fff;	
	color:#000;
	content: clear;	
}

legend{
	margin-bottom: 10px;	
	font-size: 16px;	
}

.sign{
	float:left;
	text-align: center;	
	height: 75px;
	display: table;
	padding-left: 16px;	
}

.sign > * {	
	display: table-cell;
    vertical-align: middle;		
}

.no-margin{
	margin: 0 auto;
}

.box{
	width: 90%;
	padding: 50px;
}

.box-mragin-top{
	width: 90%;
	margin-top: 50px;
}

.fix{
	clear: fix;
}
.foat{
	float: left;
}

.both{
	clear: both;
}

.center{
	margin: 0 auto;
}

.border-top{
	border-top: 3px solid #fec901;	
}

.border-bottom{
	border-bottom: 3px solid #fec901;	
}

.none-space{
	margin-right: -4px;
}

.padding-top-bottom{
	padding-top: 20px;
	padding-bottom:20px;
}

.withsection{
	width: 100%
}

/* ESTILOS PARA LA MAQUETACIÓN DEL HTML*/

.colors{
	display: inline-block;
	width: 150px;	
	float;left;
	-webkit-transition: all 0.5s ease;
    -moz-transition:all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;   		
}

.colors:hover{	
	width: 200px;
	letter-spacing: 5px;
	font-weight: bold;
	margin-right: auto;
	margin-left: 4px;
	cursor: pointer;	
}

.black{
	height: 200px;
	background-color: #000;
	border: solid 1px #fff;	
}

.blue{
	height: 170px;
	background-color: #4E7773;
}

.grease{
	height: 140px;
	background-color: #A8A48B;
}

.yellow{
	height: 110px;
	background-color: #FEC901;
}
.yellow-light{
	height: 80px;
	background-color: #FEE001;
}

.hidden{
     opacity:0;
}
.visible{
     opacity:1;
}

