body, html {
	margin: 0 auto;
	background-color: #000;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Raleway', sans-serif;	
	color: #fff;
}

h1 {
	font-size: 50px;
	font-weight: bold;

}

h2 {
	font-size: 42px;
	font-weight: 100;	
}

h3 {
	font-size: 36px;
	font-weight: 100;
}

h4 {
	font-size: 30px;
	font-weight: 100;	
}

h5 {
	font-size: 28px;
	font-weight: 100;	
}

h6 {
	font-size: 24px;
	font-weight: 100;	
}

p {
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	color: #fff;
	font-weight: 100;
	line-height: 25px;
}
section {
	font-family: 'Raleway', sans-serif;
	font-size: 16px;	
}

a {
	color: #fec901;
	font-weight: bold;
	text-decoration: none;
	padding: 3px;
	-webkit-transition: all 0.5s ease;
    -moz-transition:all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

a:hover{
	color:  #8da9a7;
	text-decoration: overline;
}

a:active{
	color:  #8da9a7;
	background-color: #fff;
	color: #000;

}

strong {
	color: #a21e14;
}

em {
	font-family: 'Crimson Text', serif;
	font-size: 20px;
}

mark {
	border: 2px solid #518447;
	background-color: #fff;
	padding: 1px;
}

s {
	color: red;
}

ul {
	list-style-image: url('img/arrow.jpg');
}
dt {
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	font-weight: 800;
}
dd {
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	font-weight: 600;
}

.button{
	border: solid 3px #fff;
	padding: 10px 30px;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
	background-color: #fec901;
	text-decoration: none;
	color:#000;	
    margin-right: 15px;
    line-height: 18px;
    -webkit-transition: all 0.5s ease;
    -moz-transition:all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;   
}

.button:hover{
	border: solid 3px #fec901;	
	background-color: #fff;
	color:#000;	
}

input[type="text"]{
	display: inline-block;
	border: 1px solid #fff;
	padding: 13px;	
	background-color: #000;
	font-family: 'Raleway', sans-serif;
	-webkit-transition: all 0.5s ease;
    -moz-transition:all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    color:#fff;
}

input[type="text"]:focus{	
	border: 1px solid #fec901;
	padding: 13px;	
	background-color: #fff;
	font-family: 'Raleway', sans-serif;
	color:#000;
	content: clear;	
}

legend{
	margin-bottom: 10px;	
}

.box{
	width: 80%;
	padding: 50px;
}

.fix{
	clear: fix;
}

.both{
	clear: both;
}
.center{

	margin: 0 auto;
}